@use '@/styles/' as *;

.bottomNavigation {
  @include pwa-container;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 130;
  background-color: $white;
  min-height: var(--bottom-nav-height);
  will-change: transform;
  transform: translateZ(0);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom, 0px);
  display: var(--bottom-nav-display, flex);

  @include respond(mobile) {
    position: fixed;
    top: calc(
      var(--initial-vh, 100lvh) - var(--bottom-nav-height) - env(safe-area-inset-bottom, 0px)
    );
    bottom: auto;
    left: 0;
    right: 0;
    height: calc(var(--bottom-nav-height) + env(safe-area-inset-bottom, 0px));

    padding-bottom: env(safe-area-inset-bottom, 0px);

    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    will-change: auto;

    transition: none !important;
    contain: layout style paint;
    isolation: isolate;

    @supports not (height: 100lvh) {
      top: calc(
        var(--initial-vh, 100vh) - var(--bottom-nav-height) - env(safe-area-inset-bottom, 0px)
      );
    }
  }
}

.navItem {
  background-color: transparent !important;
  border: none !important;
  @include circle(4rem);
  @include transition(all, 0.25s, ease);

  @include respond(mobile) {
    margin-top: 0.3rem;
    @include circle(3.5rem);
  }

  .iconWrapper {
    @include transition(all, 0.2s, ease);
    @include flex-center;
    @include circle(4rem);

    @include respond(mobile) {
      @include circle(3.2rem);
    }

    @include respond(tablet) {
      @include circle(3.5rem);
    }
  }

  .icon {
    @include size(2.5rem);
    @include respond(mobile) {
      @include size(2rem);
    }
    @include respond(tablet) {
      @include size(2.3rem);
    }
  }

  .keyframeIcon {
    @include size(2.8rem);
    @include respond(mobile) {
      @include size(2.2rem);
    }
    @include respond(tablet) {
      @include size(2.5rem);
    }
  }

  &.active {
    .iconWrapper {
      background-color: $orange;
    }
    .icon {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(230deg)
        brightness(110%) contrast(105%);
    }
  }
}
