@use '@/styles' as *;

.container {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;

  @include respond(mobile) {
    gap: 0.15rem;
  }
}

.stars {
  display: flex;
  align-items: center;
  gap: 0.08rem;
}

.star {
  flex-shrink: 0;
  stroke: $black;
  stroke-width: 1.5;
  shape-rendering: geometricPrecision;

  &--full {
    fill: $black;
  }

  &--half {
    fill: url(#half-fill);
  }

  &--empty {
    fill: $white;
  }

  &--sm {
    @include size(1rem);
    @include respond(mobile) {
      @include size(0.8125rem);
    }

    @include respond(tablet) {
      @include size(0.9rem);
    }
  }

  &--md {
    @include size(1.2rem);
    @include respond(mobile) {
      @include size(1rem);
    }

    @include respond(tablet) {
      @include size(1.1rem);
    }
  }
}

.count {
  font-size: $font-size-lg;
  color: $black;
  @include flex;
  align-items: center;

  @include respond(mobile) {
    font-size: $font-size-base;
  }
}
