@use '@/styles' as *;

.header {
  @include flex(row, space-between, center);
  padding: $spacing-3 $spacing-4;
  caret-color: transparent;
  user-select: none;
  background-color: $gray-50;
}

.title {
  flex: 1;

  p {
    text-align: center;
    font-size: $font-size-3xl;
    font-weight: $font-weight-regular;
  }
}

@include respond(mobile) {
  .header {
    padding: $spacing-2 0;

    .title {
      p {
        font-size: $font-size-2xl;
      }
    }
  }
}
