@use '@/styles' as *;

// product card
.productCardSkeleton {
  @include flex;
  @include card-base($spacing-3 $spacing-4, $white, $radius-lg, $box-shadow-lg);
  align-items: center;
  position: relative;
  gap: 0.5rem;

  .image {
    @include size(6.3rem);
  }

  .content {
    @include flex-column;
    flex: 1;
    min-width: 0;
    gap: $spacing-2;

    .name {
      @include size(70%, 1rem);
    }

    .price {
      @include size(50%, 1rem);
    }

    .description {
      @include size(100%, 1rem);
    }
  }

  .badges {
    @include flex;
    gap: $spacing-1;

    .badge {
      @include size(10%, 1.5rem);

      @include respond(mobile) {
        @include size(20%, 1rem);
      }
    }
  }
}

// review item
.reviewItemSkeleton {
  @include flex-column;
  gap: $spacing-4;

  .userInfo {
    @include flex(row, start, center);
    gap: $spacing-3;

    .avatar {
      @include circle(2.5rem);
    }

    .name {
      @include size(7.5rem, 1.25rem);
    }
  }

  .content {
    @include flex-column;
    gap: $spacing-2;

    .review {
      &:first-child {
        @include size(100%, 1rem);
      }

      &:nth-child(2) {
        @include size(85%, 1rem);
      }

      &:last-child {
        @include size(70%, 1rem);
      }
    }
  }

  .reviewInfo {
    @include flex(row, end, center);
    gap: $spacing-2;

    .date {
      @include size(5rem, 1rem);
    }

    .mallLogo {
      @include size(1.5rem);
    }
  }
}

@include respond(mobile) {
  .userInfo {
    gap: $spacing-2;

    .avatar {
      @include circle(2rem);
    }

    .name {
      @include size(6rem, 1rem);
    }
  }

  .content {
    gap: $spacing-1;
  }

  .mallLogo {
    @include size(1.45rem);
  }
}

// mall card skeleton
.mallCardSkeleton {
  @include flex-column;
  gap: $spacing-2;

  .image {
    @include size(100%, 8rem);
  }

  .content .price {
    @include size(60%, 1.5rem);
  }
}

// bundle page skeleton
.bundlePageSkeleton {
  @include flex-column;
  gap: $spacing-4;
  width: 100%;

  .bestDealSection {
    @include flex-column;
    gap: $spacing-3;
    padding: $spacing-4 0 0;

    @include respond(mobile) {
      padding: calc($spacing-4 + $spacing-5) 0 0;
    }

    .title {
      @include size(40%, 2.5rem);

      @include respond(mobile) {
        @include size(50%, 2rem);
      }
    }

    .productRow {
      @include flex(row, start, center);
      gap: $spacing-3;

      .productImage {
        @include size(4.5rem);
        border-radius: $radius-lg;

        @include respond(mobile) {
          @include size(3.5rem);
        }
      }

      .productInfo {
        @include flex-column;
        gap: $spacing-2;
        flex: 1;

        @include respond(mobile) {
          gap: $spacing-1;
        }

        .productName {
          @include size(70%, 1.75rem);

          @include respond(mobile) {
            @include size(80%, 1.5rem);
          }
        }

        .count {
          @include size(30%, 1.5rem);

          @include respond(mobile) {
            @include size(40%, 1.25rem);
          }
        }
      }
    }

    .mallCardWrapper {
      margin-top: $spacing-2;
    }
  }
}
