@use '@/styles' as *;

.form {
  @include flex-column;
  gap: $spacing-2;
  width: 100%;
  height: 100%;
}

.selectField {
  @include flex(column, center, center);
  width: 100%;
  caret-color: transparent;

  .selectWrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    // Display row (text + icon)
    > .selectedValue {
      display: inline-flex;
      align-items: center;
      gap: $spacing-1;
      padding: $spacing-2 $spacing-3;
      font-size: $font-size-3xl;
      font-weight: $font-weight-bold;
      letter-spacing: -0.03rem;
      pointer-events: none;
    }

    // Chevron icon next to text
    > .chevronIcon {
      pointer-events: none;
    }

    // Select covers entire wrapper for click area, but invisible
    > select {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }

    &:hover:not(:has(select:disabled)) {
      .selectedValue,
      .chevronIcon {
        color: $black;
      }
    }

    option {
      caret-color: transparent;
      border-radius: $radius-5xl;
    }
  }

  > hr {
    background: $gray-300;
    height: 2px;
    border: 0;
    width: 100%;
  }
}

.field {
  @include flex($direction: column);
  width: 100%;
  gap: $spacing-2;

  .inputField {
    width: 100% !important;
    padding: $spacing-2 $spacing-3 !important;
    border: 1px solid $gray-400 !important;
    border-radius: $radius-2xl !important;
    font-size: $font-size-base !important;
    transition: border-color 0.2s ease !important;
    background-color: $white !important;

    &:focus {
      outline: none !important;
      border-color: $red !important;
      box-shadow: none !important;
    }

    &:hover:not(:disabled):not(:focus) {
      border-color: $gray-400 !important;
    }

    &:disabled {
      background: $gray-50 !important;
      cursor: not-allowed !important;
      opacity: 1 !important;
    }

    &::placeholder {
      color: $gray-400 !important;
      opacity: 1 !important;
    }

    &::-webkit-input-placeholder {
      color: $gray-400 !important;
      opacity: 1 !important;
    }

    &::-moz-placeholder {
      color: $gray-400 !important;
      opacity: 1 !important;
    }

    &:-ms-input-placeholder {
      color: $gray-400 !important;
      opacity: 1 !important;
    }
  }

  > textarea {
    @include flex($direction: column);
    width: 100%;
    padding: $spacing-2 $spacing-3;
    border: 1px solid $gray-400;
    border-radius: $radius-2xl;
    font-size: $font-size-base;
    transition: border-color 0.2s ease;
    resize: none;
    min-height: 200px;
    line-height: 1.6;
    background-color: $white;

    &:focus {
      outline: none;
      border-color: $red;
    }

    &:disabled {
      background: $gray-50;
      cursor: not-allowed;
    }

    &::placeholder {
      color: $gray-400;
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: $gray-400;
      opacity: 1;
    }

    &::-moz-placeholder {
      color: $gray-400;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $gray-400;
      opacity: 1;
    }
  }

  .charCount {
    font-size: $font-size-xs;
    color: $gray-500;
    text-align: right;
    margin-top: -#{$spacing-1};
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: $spacing-2;
  padding-top: $spacing-3;
}

.submitButton {
  padding: $spacing-2 $spacing-4;
  border-radius: $radius-2xl;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  min-width: 100px;
}

@include respond(mobile) {
  .selectField {
    gap: $spacing-2;

    .selectWrapper {
      > .selectedValue {
        font-size: $font-size-2xl;
        letter-spacing: -0.02rem;
      }

      > select {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 1px;
        pointer-events: none;
      }
    }
  }

  .field {
    .inputField {
      padding: $spacing-2 $spacing-2;
    }
  }

  .actions {
    padding-top: $spacing-2;
  }
}
