@use '@/styles' as *;

.priceList {
  @include flex-column;
  gap: $spacing-3;
  padding: $spacing-4 $spacing-3;

  @include respond(mobile) {
    gap: $spacing-2;
    padding: $spacing-3 $spacing-1;
  }
}

.priceItem {
  @include card-bordered($spacing-3, $white, $radius-2xl, 1px solid $gray-200);
  @include hover-border($purple-500, 2px);
  @include flex(row, space-between, center);
  width: 100%;

  font-family: $font-family-sans;
  font-size: $font-size-2xl;
  font-weight: $font-weight-semibold;
  white-space: nowrap;

  @include respond(mobile) {
    font-size: $font-size-xl;
  }

  &.selected {
    border-color: $purple-500;
    background-color: $white;
    box-shadow: $box-shadow-md;
  }

  &:focus-visible {
    outline: 2px solid $purple-500;
  }

  .productInfo {
    @include flex-column;
    width: 100%;
    align-items: start;
    gap: 0.1rem;
  }

  .priceDetail {
    width: 100%;
    @include flex(row, space-between, center);
    color: $purple-500;

    > span:last-child {
      color: $gray-500;
    }
  }
}
