@use 'sass:math';

$box-shadow-sm: math.div(-1, 16) + rem math.div(7, 16) + rem math.div(8.5, 16) + rem 0
  rgba(0, 0, 0, 0.25);
$box-shadow-md: 0 math.div(4, 16) + rem math.div(11.7, 16) + rem math.div(-5, 16) + rem
  rgba(0, 0, 0, 0.25);
$box-shadow-lg: 0 math.div(1, 16) + rem math.div(2, 16) + rem 0 rgba(0, 0, 0, 0.25);
$box-shadow-xl: 0 math.div(10, 16) + rem math.div(11.8, 16) + rem math.div(-6, 16) + rem
  rgba(0, 0, 0, 0.25);
