// box shadow
$box-shadow-sm: -1px 7px 8.5px 0 rgba(0, 0, 0, 0.25);
$box-shadow-md: 0 4px 11.7px -5px rgba(0, 0, 0, 0.25);
$box-shadow-lg: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
$box-shadow-xl: 0 10px 11.8px -6px rgba(0, 0, 0, 0.25);
