@use '@/styles' as *;

.container {
  min-height: 100vh;
  @include flex-center;
  background-color: $gray-50;
}

.spinner {
  @include size(3rem);
  border: 4px solid $orange-100;
  border-top-color: $orange-500;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
