@use '@/styles' as *;

.searchBar {
  @include flex-center;
  gap: $spacing-1;
  height: 2.6rem;
  width: 100%;

  .inputContainer {
    @include flex-center;
    width: 100%;
    height: 100%;
    flex-shrink: 1;

    > div {
      height: 100%;

      > div {
        // input__wrapper
        height: 100%;

        > input {
          // input__field
          height: 100%;
        }
      }
    }
  }

  .buttonContainer {
    @include flex-center;
    height: 100%;
    flex-shrink: 0;

    .button {
      height: 100%;
      aspect-ratio: 1 / 1;
      padding: $spacing-1 !important;
    }
  }
}

.searchIcon {
  @include size(1.5rem);
  flex-shrink: 0;
}

@include respond(mobile) {
  .searchBar {
    height: 1.5rem;
  }

  .searchIcon {
    @include size(1.25rem);
  }
}
