@use '@/styles' as *;

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.85) rotate(-8deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.incognitoBar {
  @include flex(row, end, center);
  background-color: $orange-300;
  padding: $spacing-2 $spacing-3 0 $spacing-1;

  .button {
    @include flex-center;
    @include size(3rem, 2.5rem);
    padding: 0;
    transition: transform 0.15s ease-out;

    @media (hover: hover) and (pointer: fine) {
      &:hover:not(:disabled) {
        background-color: transparent !important;
      }
    }

    &:active:not(:disabled) {
      background-color: transparent !important;
      transform: scale(0.92);
    }
  }

  .iconWrapper {
    @include flex-center;
    width: 100%;
    height: 100%;
    animation: fadeInScale 0.3s ease-in-out;
  }

  .icon {
    display: block;
  }
}

@include respond(mobile) {
  .incognitoBar {
    padding: $spacing-1 $spacing-2 0 0;
  }
}
