@use '@/styles' as *;

// Variables
$input-height: 2.68rem;
$button-height: 2.68rem;
$toggle-size: 1.25rem;
$border-width: 2px;

.container {
  @include full-screen-container;
  @include hide-scrollbar;
  @include safe-area-inset(padding, all);
  @include extend-background-to-status-bar($gray-50);
  @include flex-column;

  padding: 10% 10%;

  @include respond(mobile) {
    padding: 10% 5%;
  }
}

.content {
  @include flex-column;
  @include size(100%, 100%);
  gap: 1.5rem;
  padding-bottom: calc(4rem + env(safe-area-inset-bottom));

  .select {
    width: 88%;
  }

  .submit {
    position: fixed;
    bottom: calc(1.5rem + env(safe-area-inset-bottom));
    left: 50%;
    width: 10%;
    transform: translateX(-50%);
    color: black !important;
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    border-radius: 2rem !important;
    box-shadow: $box-shadow-md;
    z-index: 10;

    &:active {
      transform: translateX(-50%) translateY(1px) !important;
    }

    @include respond(mobile) {
      width: 36%;
    }
  }
}

@mixin text-responsive($mobile-size, $tablet-size, $desktop-size) {
  font-size: $desktop-size;
  font-weight: $font-weight-regular;
  font-family: inherit;
  line-height: normal;

  @include respond(mobile) {
    font-size: $mobile-size;
  }
}

.title {
  @include text-responsive($font-size-2xl, $font-size-3xl, $font-size-4xl);
}

.form {
  @include flex-column;
  gap: $spacing-6;

  > span {
    color: $black !important;
    font-weight: $font-weight-regular;
    @include text-responsive($font-size-xl, $font-size-xl, $font-size-2xl);

    @include respond(mobile) {
      font-weight: $font-weight-light;
    }
  }
}

.input {
  border-radius: 0.8rem !important;
  border-color: #bcbbbb;
  box-shadow: $box-shadow-md;
}

.description {
  font-weight: $font-weight-regular;
  @include text-responsive($font-size-lg, $font-size-xl, $font-size-2xl);

  @include respond(mobile) {
    font-weight: $font-weight-light;
  }
}
