@use '@/styles' as *;

.container {
  @include full-screen-container;
  @include flex-column-center;
  @include hide-scrollbar;
  @include safe-area-inset(padding, all);
  @include extend-background-to-status-bar($gray-50);

  gap: $spacing-6;
  background-color: $gray-50;
  width: 100%;
}

.logoContainer {
  width: 100%;
  @include flex-column-center;

  > span {
    font-size: $font-size-5xl;
    font-weight: $font-weight-bold;
    color: $black;
  }
}

.loginButtonContainer {
  @include flex-center;
  width: 100%;
}

.googleLoginButton {
  @include flex-center;
  gap: $spacing-2;
  padding: $spacing-3 $spacing-4;
  border: 1px solid $gray-300;
  border-radius: $radius-md;
  background-color: $white;
  color: $black;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $gray-50;
  }

  &:active {
    background-color: $gray-100;
  }
}
