@use '@/styles' as *;

.container {
  @include full-screen-container;
  @include flex-column-center;
  @include hide-scrollbar;
  @include safe-area-inset(padding, all);
  @include extend-background-to-status-bar($gray-50);

  gap: $spacing-6;
  background-color: $gray-50;
  width: 100%;
}

.logoContainer {
  width: 100%;
  @include flex-column-center;

  > span {
    font-size: $font-size-5xl;
    font-weight: $font-weight-bold;
    color: $black;
  }
}

.loginButtonContainer {
  @include flex-column-center;
  gap: $spacing-3;
  width: 50%;

  @include respond(mobile) {
    width: 80%;
  }
}

.loginButton {
  @include flex-center;
  position: relative;
  gap: $spacing-2;
  padding: $spacing-3 $spacing-4;
  border: 1px solid $gray-400;
  box-shadow: $box-shadow-md;
  border-radius: $radius-2xl;
  cursor: pointer;

  :global(img) {
    position: absolute;
    left: $spacing-4;
  }
  > span {
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    width: 100%;
    text-align: center;
  }

  &.apple {
    :global(img) {
      left: 1rem;
    }
  }
}
