@use '@/styles' as *;
@use '@/styles/base/reset';
@use '@/styles/base/base';

:root {
  color-scheme: light;
}

body {
  color: $black;
  background: $gray-100;
  font-family: $font-family-sans;
  position: relative;
}
