@use 'sass:map';
@use '@/styles' as *;

.container {
  width: 100%;
  background-color: $gray-150;
  border-bottom-left-radius: $radius-2xl;
  border-bottom-right-radius: $radius-2xl;
}

.tabList {
  @include flex;
  width: 100%;
  background-color: $gray-50;
  gap: $spacing-10;

  @include respond(mobile) {
    gap: $spacing-8;
  }
}

.tab {
  flex: 1;
  padding: $spacing-3 $spacing-4 0;

  font-family: $font-family-sans;
  font-size: $font-size-2xl;
  font-weight: $font-weight-semibold;
  text-align: center;
  white-space: nowrap;

  background-color: $gray-150;
  color: $gray-400;
  border: none;
  border-top-left-radius: $radius-lg;
  border-top-right-radius: $radius-lg;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover:not(.tab--active) {
    color: $gray-600;
  }

  &:focus {
    outline: none;
    color: $purple-800;
  }

  &--active {
    color: $purple-800;
  }

  @include respond(mobile) {
    padding: $spacing-2 $spacing-1 $spacing-1;
    font-size: $font-size-xl;
  }
}

.tabPanel {
  display: none;

  &--active {
    display: block;
  }
}
