@use '@/styles' as *;

.container {
  @include container(100%, 0);
  @include full-screen-container;
  @include flex-column-center;
  @include hide-scrollbar;
  @include safe-area-inset(padding, all);
  @include extend-background-to-status-bar($gray-50);

  gap: $spacing-6;
  background-color: $gray-50;
  position: fixed;
  margin: 0;
}

.logoContainer {
  width: 100%;
  @include flex-column-center;

  > span {
    font-size: $font-size-5xl;
    font-weight: $font-weight-bold;
    color: $black;
  }
}

.loginButtonContainer {
  @include flex-center;
  width: 100%;
}
