$black: #000000;
$white: #ffffff;

// gray
$gray-50: #f6f6f6;
$gray-100: #f2f2f2;
$gray-150: #eaeaea;
$gray-200: #e3e3e3;
$gray-300: #d9d9d9;
$gray-400: #bcbbbb;
$gray-500: #9b9b9b;
$gray-600: #8c8c8c;
$gray-700: #667085;
$gray-800: #666666;
$gray-900: #0f0f0f;

// red
$red: #ff6a6a;
$red-300: #ffbaba;

// orange
$orange: #ffac5a;
$orange-100: #ffe8cd;
$orange-300: #ffc994;

// purple
$purple: #c679d0;
$purple-300: #deb5e3;
$purple-500: #a778e3;
$purple-700: #7047a3;
$purple-800: #7509ff;
