@use '@/styles' as *;

.container {
  display: flex;
  width: 100%;

  &--horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-2;

    @include respond(mobile) {
      gap: $spacing-1;
    }
  }

  &--vertical {
    flex-direction: column;
    gap: $spacing-2;

    @include respond(mobile) {
      gap: $spacing-1;
    }
  }

  &--grid {
    display: grid;
    gap: $spacing-2;

    @include respond(mobile) {
      gap: $spacing-1;
    }
  }
}
