@use '@/styles' as *;

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;

  min-height: 2.68rem;
  gap: 0.25rem;
}

.selectWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.selectWrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  height: 100%;
  border: 1px solid $gray-400;
  border-radius: $radius-5xl;
  padding: 0 0.37rem 0 1.13rem;
  font-size: $font-size-3xl;
  font-weight: $font-weight-bold;
  line-height: normal;
  color: $black;
  background-color: $white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: $box-shadow-md;
  letter-spacing: 0.1rem;

  @include respond(mobile) {
    padding: 0 0.37rem 0 1rem;
    font-size: $font-size-xl;
    letter-spacing: 0.05rem;
  }
  @include respond(tablet) {
    padding: 0 0.37rem 0 1rem;
    font-size: $font-size-2xl;
    letter-spacing: 0.05rem;
  }

  &:focus {
    outline: none;
    box-shadow: $box-shadow-lg;
  }

  &.placeholder {
    color: $gray-500;
  }
}

.selectWrapper:first-child select {
  padding-left: 1rem;

  @include respond(mobile) {
    padding-left: 0.55rem;
  }
  @include respond(tablet) {
    padding-left: 0.9rem;
  }
}

.chevronIcon {
  position: absolute;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
  color: $black;
  pointer-events: none;
}

.error {
  color: $red;
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
  margin-top: $spacing-2;
  margin-left: $spacing-1;
  text-align: left;
  width: 100%;
}
