@use 'sass:map';
@use '@/styles' as *;

.container {
  position: relative;
  @include image-container-base(relative, cover);
  @include image-hover-zoom(1.05, transform 0.2s ease-in-out);
  @include size(100%);
  overflow: hidden;
  background-color: $gray-100;

  .image {
    @include transition(transform, 0.2s, ease-in-out);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fill {
  width: 100%;
  height: 100%;
}
