@use 'sass:map';
@use '../../../styles/design/colors' as colors;
@use '../../../styles/design/typography' as typography;
@use '../../../styles/design/spacing' as spacing;
@use '../../../styles/mixins/breakpoints' as breakpoints;

.input {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__full-height {
    height: 100%;

    .input__wrapper {
      height: 100%;
    }

    .input__field {
      height: 100%;
    }
  }

  &__label {
    font-family: typography.$font-family-sans;
    font-size: typography.$font-size-base;
    font-weight: typography.$font-weight-medium;
    color: colors.$black;
    margin-bottom: spacing.$spacing-1;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__field {
    width: 100%;
    padding: spacing.$spacing-2 spacing.$spacing-3;
    font-family: typography.$font-family-sans;
    font-size: typography.$font-size-base;
    border-radius: spacing.$radius-md;
    outline: none;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 0;

    &Outline {
      border: 1px solid colors.$gray-400;
      background-color: colors.$white;

      &:focus {
        border-color: colors.$gray-400;
        box-shadow: 0 0 0 1px colors.$gray-400;
      }

      &:hover:not(:disabled):not(:focus) {
        border-color: colors.$gray-400;
      }

      &.input__fieldError {
        border-color: colors.$red;

        &:focus {
          box-shadow: 0 0 0 1px colors.$red;
        }
      }
    }

    &Filled {
      border: 1px solid transparent;
      background-color: colors.$gray-300;

      &:focus {
        background-color: colors.$white;
        border-color: colors.$gray-300;
        box-shadow: 0 0 0 1px colors.$gray-400;
      }

      &:hover:not(:disabled):not(:focus) {
        background-color: colors.$gray-150;
      }

      &.input__fieldError {
        border-color: colors.$red;

        &:focus {
          box-shadow: 0 0 0 1px colors.$red;
        }
      }
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &Sm {
      padding: spacing.$spacing-1 spacing.$spacing-2;
      font-size: typography.$font-size-lg;
    }

    &Md {
      padding: spacing.$spacing-2 spacing.$spacing-3;
    }

    &Lg {
      padding: spacing.$spacing-3 spacing.$spacing-4;
      font-size: typography.$font-size-xl;
    }
  }

  &__error {
    font-family: typography.$font-family-sans;
    font-size: typography.$font-size-lg;
    color: colors.$red;
    margin-top: spacing.$spacing-1;
  }
}

// expand input touch target on mobile
@media (hover: none) {
  .input {
    &__field {
      min-height: 2.5rem;

      &Sm {
        min-height: 2rem;
      }

      &Lg {
        min-height: 3rem;
      }
    }
  }
}
